/* Reset */
html{
    font-size: 62.5%;
}

body{
    font: 1.6rem sans-serif;
    font-family: 'Barlow', sans-serif;
}

h1{
    font-size: 5.5rem !important;
}

h2{
    font-size: 4.5rem !important;
}

h3{
    font-size: 3.5rem !important;
}

h4{
    font-size: 2.5rem !important;
}

p{
    font-size: 2rem !important;

}

li{
    font-size: 2.5rem;
}

h1, h2, ul, body, p, figure, ol, blockquote, button{
    margin: 0;
    padding: 0;
}

.m-15{
    margin: 1.5rem;
}

.w-50 {
    width: 50%;
}

.mb-20 {
    margin-bottom: 2.0rem;
}

.mt-20{
    margin-top: 2.0rem;
}

.p-15 {
    padding: 1.0rem;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 1rem;
    margin: .8rem;
    border-radius: .4rem;
}




/* Theme */
.page-wall{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width:  20rem !important;
    height: 20rem !important;
}

div a input{
    border: none !important;
    font-size: 1.5rem;
    background: none;
    

}



/* Onglets forms connexion et inscription */
.tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs .list{
    padding: 0;
    border-bottom: 1px solid lightgray;
    display: flex;
    list-style: none;
    margin: 0;
}

.tabs .tab{
    border: 1px solid lightgray;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.tabs .tab.active{
    background-color: lightgray;
    box-shadow: 0 0 5px;
    cursor: default;
}

.tabs .contents{
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 10px;
}

.tabs .content{
    display: none;
}

.tabs .content.show{
    display: initial;
}